<form [formGroup]="form" >
  <div class="form-group" >
    <label for="">Old Password</label>
    <input
      formControlName="oldPassword"
      type="password"
      class="form-control"
      >
    <app-form-error-display
      *ngIf="oldPassword.invalid && oldPassword.touched"
      [error]="errorHandler.check(oldPassword, 'Old Password')"
      >
    </app-form-error-display>
  </div>
  <div class="form-group">
    <label for="">New Password</label>
    <input
      formControlName="newPassword"
      type="password"
      class="form-control"
      >
    <app-form-error-display
      *ngIf="newPassword.invalid && newPassword.touched"
      [error]="errorHandler.check(newPassword, 'New Password')"
      >
    </app-form-error-display>
  </div>
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      class="form-control"
      >
    <app-form-error-display
      *ngIf="confirmPassword.touched && confirmPassword.valid && form.invalid && form?.errors?.shouldMatch"
      [error]="errorHandler.check(confirmPassword, 'Confirm Password', form)"
      >
    </app-form-error-display>
  </div>
  <p>{{ form.value | json }}</p>
  <button [disabled]="!form.valid" class="btn btn-primary">Change Password</button>
</form>
